<% content_for :heading do %>
  <h1 class="mb-0"><%= title "Client #{@client.name} linked account of" %></h1>
<% end %>

<% content_for :body do %>
  <table class="table table-hover mb-0 with-action">
    <thead>
      <tr>
        <th>Account number</th>
        <th>Type</th>
        <th>Balance</th>
        <th>Filiale</th>
        <th>Last accessed time</th>
      </tr>
    </thead>

    <tbody id="search-content">
      <% @accounts.each do |account| %>
        <tr>
          <td><%= link_to "\##{account.id}", account_path(account.id) %></td>
          <td><%= account_type_name account.accountable_type %></td>
          <td><%= account.balance %></td>
          <td><%= link_to account.branch_name, branch_path(account.branch_id) %></td>
          <td><%= account.last_access %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :footer do %>
  <div>
    <%= link_to raw(t'actions.back'), :back, class: 'btn btn-success' %>
    <a class="btn btn-primary" href="#search-form" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="search-form"><%= raw(t'actions.search') %></a>
  </div>
  <%= render partial: 'quick_search' %>
<% end %>

<%= render template: 'layouts/listing' %>
