<% content_for :heading do %>
  <h1 class="mb-0"><%= title 'Credit' %></h1>
<% end %>

<% content_for :body do %>
  <table class="table table-hover mb-0 with-action">
    <thead>
      <tr>
        <th>Number</th>
       
        <th>Amount</th>
        <th>State</th>
        <th>Operate</th>
      </tr>
    </thead>
      <tbody id="search-content">
      <% @loans.each do |loan| %>
        <tr>
          <td><%= loan.id %></td>
         
          <td><%= loan.amount %></td>
          <td>
            <% status = status_of loan %>
            <%= render partial: 'status_icon', locals: { status: status } %>
            <%= status_s status %>
          </td>
          <td>
            <%= link_to raw(t'actions.view'), loan, class: 'btn btn-outline-primary' %>
            <% unless status == :issuing %>
              <%= link_to raw(t'actions.destroy'), loan, method: :delete, data: { confirm: t('confirm') }, class: "btn btn-outline-danger d-none d-sm-inline-block", disabled: (status == :issuing) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :footer do %>
  <div>
    <%= link_to 'Create Credit', new_loan_path, class: 'btn btn-primary' %>
    <a class="btn btn-primary" href="#search-form" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="search-form"><%= raw(t'actions.search') %></a>
  </div>
  <%= render partial: 'quick_search' %>
<% end %>

<%= render template: 'layouts/listing' %>
